//#f8f8f8
md-card-header
  background-color #f8f8f8

md-card-header a
  color black
  text-decoration none
md-card-header a:hover
  color rgb(33,150,243)


.write textarea
  border 0.1px solid #a7a7a7!important
  border-radius 2px!important
  height 220px!important
  display: block;
  width: 100%;
  padding: 7px!important;
  resize: vertical;

.write label
    padding-left 10px!important

.write
  margin 0px!important

img.responsive
  max-width 100%
  max-height 100%
