div(layout='row', layout-align='center center')
  md-content(layout-padding flex)
    md-card-title
      md-card-title-text
        span.md-headline Gestor de usuarios
        p.md-body-1
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ducimus quas alias iusto, voluptas esse, aspernatur nobis reprehenderit! Provident, error eaque veniam maxime optio in dolorem sequi quaerat voluptate quae.
    md-content(layout='row' )
        md-table-container(flex)
            table(md-table='', md-row-select='', multiple='false', ng-model='$ctrl.selected')
              thead(md-head='',)
                tr(md-row='')
                  th(md-column) Usuario
                  th(md-column) Correo
                  th(md-column) Rol
                  th(md-column) Rol
                  th(md-column) Rol
                  th(md-column) Rol
              tbody(md-body='')
                tr(md-row='', md-select='usuario', md-select-id='usuario.id_usuario', md-auto-select='', dir-paginate='usuario in $ctrl.usuarios | itemsPerPage: 2'  total-items='$ctrl.totalUsuarios' current-page="$ctrl.current")
                  td(md-cell='') {{usuario.nombre + usuario.apellido}}
                  td(md-cell='') {{usuario.correo}}
                  td(md-cell='') {{usuario.correo}}
                  td(md-cell='') {{usuario.correo}}
                  td(md-cell='') {{usuario.correo}}
                  td(md-cell='') {{usuario.correo}}
            dir-pagination-controls(flex align='center' on-page-change="$ctrl.allUsers({'1':'1'},newPageNumber)")
