md-input-container.md-block(flex='{{flex}}')
    label {{label}}
    input(
        type='{{type}}',
        name='{{name}}',
        ng-model='ngModel',
        ng-required='{{required}}')
    .errors(ng-messages="frm.$error")
        div(ng-message='required') Campo requerido.


    //-md-maxlength='40',