md-input-container.no-error .md-errors-spacer
  min-height 0px!important

table.nix-table > tbody > tr > td:last-child
  max-width 0px!important
  word-wrap break-word
/*table.nix-table > tbody > tr > td > p.basic-cell
  min-width 0px
  max-width 180px
  white-space nowrap
  overflow hidden!important
  text-overflow ellipsis!important*/