md-input-container.md-block(flex)
  label {{label}}
  textarea(
    name='{{name}}' 
    ng-required='required' 
    ng-model ='ngModel' )
  .errors(ng-messages="frm.$error")
      div(ng-message='required') Campo requerido.
